{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg">
                <div class="main-part" style="min-width: 400px;min-height: 400px;">
                
                </div>
            </div>
        </div>
    </div>



    <a href="{{ path('app_product_index') }}">Retourner à la liste</a>


{% endblock %}
