controllers:
    resource: ../src/Controller/
    type: annotation

kernel:
    resource: ../src/Kernel.php
    type: annotation

index:
    path: /
    controller: App\Controller\IndexController::index

categories:
    path: /category
    controller: App\Controller\CategoriesController::category

panier:
    path: /basket
    controller: App\Controller\BasketController::basket

contact:
    path: /contact
    controller: App\Controller\ContactController::contact

connexion:
    path: /login
    controller: App\Controller\SecurityController::login

inscritption:
    path: /register
    controller: App\Controller\RegistrationController::register

Add_product:
    path: /admin/add
    controller:  App\Controller\ProductController::new