{% block head %}{% endblock %}
{{ form_start(form)}}
<label for="name">Nom du produit:</label>
    {{form_widget(form)}}
    <button class="btn">{{button_label|default('Save')}}</button>
{{form_end(form)}}