<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}SportLudique{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav><!-- Contenu de ma navbar --></nav>

        {% block body %}{% endblock %}

        <footer><!-- Contenu de mon footer --></footer>

        {% block javascripts %}{% endblock %}
    </body>
</html>